$Very-Dark-Magenta: hsl(300, 43%, 22%);
$Soft-Pink: hsl(333, 80%, 67%);
$Dark-Grayish-Magenta: hsl(303, 10%, 53%);
$Light-Grayish-Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);
$ff: "Spartan", sans-serif;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 4em 0;
  font-size: 15px;
  font-family: $ff;
  background: url("../images/bg-pattern-top-mobile.svg");
  background-repeat: no-repeat;
  background-position: right 0 top 0;
}

.main-container {
  width: 85%;
  margin: 0 auto;
  max-width: 1440px;

  .header__intro {
    text-align: center;
    color: $Very-Dark-Magenta;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    max-width: 25rem;

    h1 {
      max-width: 12ch;
      font-size: 1.4rem;
      font-weight: 700;
      margin: 0 auto;
    }

    p {
      font-size: 0.867rem;
      line-height: 1.5;
    }
  }

  .personal__review {
    height: 100%;
    &-card {
      background-color: $Very-Dark-Magenta;
      color: $Light-Grayish-Magenta;
      font-size: 0.8rem;
      border-radius: 8px;
      padding: 2em;
      margin-bottom: 1em;
      margin-left: auto;
      margin-right: auto;
      max-width: 25rem;
    }

    &-user {
      display: flex;
      align-items: center;
    }

    &-img {
      img {
        width: 75%;
        border-radius: 50%;
      }
    }

    &-username {
      h3 {
        font-size: 0.8rem;
        margin: 0 0 0.2rem 0;
      }

      span {
        color: $Soft-Pink;
      }
    }

    &-content {
      margin-top: 1.5rem;
      line-height: 1.7;
    }
  }

  .attribution {
    margin-top: 2rem;
  }
}

.reviews {
  margin-bottom: 3em;
  &__card {
    background-color: $Light-Grayish-Magenta;
    text-align: center;
    color: $Very-Dark-Magenta;
    font-size: 0.667rem;
    font-weight: 700;
    border-radius: 8px;
    padding: 0.5em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 25rem;

    &-star {
      margin-top: 0.333em;
    }
  }
}

@media (min-width: 1000px) {
  body {
    background: url("../images/bg-pattern-top-desktop.svg"),
      url("../images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: left -69px top -44px, bottom -146px right -10px;
  }

  .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

    .row {
      display: flex;
    }

    .header__intro {
      grid-column: 1 / 2;
      text-align: left;
      margin: 0;

      h1 {
        font-size: 2.5rem;
        margin-left: 0;
      }
    }

    .reviews {
      grid-column: 2 / 3;
      margin: 0;

      &__card {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-right: 0;

        &:nth-child(1) {
          transform: translateX(-7rem);
        }

        &:nth-child(2) {
          transform: translateX(-3.5rem);
        }
      }
    }

    .personal__review {
      grid-column: 1 / -1;

      &-card {
        margin: 0;
        &:nth-child(2) {
          transform: translateY(1rem);
        }

        &:nth-child(3) {
          transform: translateY(2rem);
        }
      }
    }

    .personal__review-card + .personal__review-card {
      margin-left: 1em;
    }

    .attribution {
      grid-column: 1 / -1;
      text-align: center;
      color: $Very-Dark-Magenta;
      margin-top: 3rem;

      a {
        color: $Very-Dark-Magenta;
      }
    }
  }
}
